* {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.current-listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.single-listing-image {
    display: flex;
    max-width: 800px;
    margin-bottom: 10px;
}

.single-listing-individual-fields {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
}

.single-listing-values {
    font-weight: bolder;
}

.listing-description {
    padding-top: 20px;
    padding-bottom: 10px;
}

.create-listing-button {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-bottom: 5px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 500px;
}

.user-and-rating {
    display: flex;
    flex-direction: row;
    /* align-content: space-between; */
}


.review-username {
    margin-right: 3px;
}

.user-rating {
    margin-left: 3px;
}

.google-map {
    padding: 20px;
}
