* {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    /* color: black; */
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    /* align-items: flex-end; */
    /* border: 1px solid black; */
    list-style-type: none;
    height: 80px;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding-left: 0px;
    position: sticky;
    top: 0;
    
}


.nav-text {
    color: white;
    list-style-type: none;
    font-size: small;
}

.nav-text-signup {
    color: #ff4265;
    list-style-type: none;
    padding-left: 5px;
}


.nav-text-logo {
    color: white;
    font-size: 35px;
}

.barebnb-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: relative; */
}

.airbnb-logo {
    width: 40px;    
}


.profile-button {
    width: 25px;
    height: 25px;
    filter: invert(1);
    /* font-weight: bolder; */
}

#menu-button {
  
    border: none;

    margin: 0;
    text-decoration: none;
    background: black;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}

#log-out {
    border: 1px solid white;
    border-radius: 5px;
    margin: 0;
    text-decoration: none;
    background: black;
    color: white;
}

#log-out:hover {
    cursor: pointer;
}

.user-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: none;
}

.loggedin-nav {
    display: flex;
    flex-direction: row;
    color: white;
}


.listings-link {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
