.login-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: medium;
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
}

.login-button:hover {
    cursor: pointer;
}


.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    
    width: 500px;
    height: 500px;
}


.login-email {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-password {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Login {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
}
